/auth.log
/Dracula.txt
/Dracula_wc.txt
/Dr_Jekyll_and_Mr_Hyde.txt
/Dr_Jekyll_and_Mr_Hyde_wc.txt
/Frankenstein.txt
/Frankenstein_wc.txt
/TESTING.txt
/The_Castle_of_Otranto.txt
/The_Castle_of_Otranto_wc.txt
/The_Picture_of_Dorian_Gray.txt
/The_Picture_of_Dorian_Gray_wc.txt
/The_Turn_of_the_Screw.txt
/The_Turn_of_the_Screw_wc.txt